Repository SOMAS2022/SOMAS2022, pull requests merged in 2022-11, with the labels that each got.

#4 MVP implementation
  pkg/infra/game/agent/agent.go
  pkg/infra/game/agent/random.go
  pkg/infra/game/commons/commons.go
  pkg/infra/game/commons/commons_test.go
  pkg/infra/game/decision/decision.go
  pkg/infra/game/message/message.go
  pkg/infra/game/stage/fight/fight.go
  pkg/infra/game/state/state.go
  pkg/infra/go.mod
  pkg/infra/main.go
Labels: good first issue, infra

#5 [infra] Config file and some initial math formula implementation
  .env
  pkg/infra/config/environment_helpers.go
  pkg/infra/config/types.go
  pkg/infra/game/decision/decision.go
  pkg/infra/game/stage/fight/fight.go
  pkg/infra/game/state/state.go
  pkg/infra/go.mod
  pkg/infra/go.sum
  pkg/infra/main.go
Labels: infra

#11 Test performance of agents on push to main
  .github/workflows/run_game.yaml
Labels: devops

#37 Remove deprecated Makefile
  Makefile
  pkg/infra/Makefile
Labels: infra

#41 [infra] Add Dockerfile and its wrapper script
  Dockerfile
  scripts/runDocker.sh
Labels: infra

#39 [infra] Create API for individual team use
  .github/workflows/run_game.yaml
  Makefile
  README.md
  pkg/infra/game/stage/fight/fight.go
  pkg/infra/game/stage/loot/loot.go
  pkg/infra/game/stages/stages.go
  pkg/infra/main.go
  pkg/infra/teams/team0/fight_decisions.go
  pkg/infra/teams/team0/weapon_alloc.go
Labels: infra

#46 [web] Initial front-end and back-end
  .gitignore
  config.json
  frontend/README.md
  web/README.md
  web/backend/.eslintrc.json
  web/backend/package-lock.json
  web/backend/package.json
  web/backend/src/app.ts
  web/backend/src/common/utils.ts
  web/backend/src/db/schema/SimResult.ts
  web/backend/src/types/global.ts
  web/backend/tsconfig.json
  web/frontend/.eslintrc.json
  web/frontend/index.html
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/App.css
  web/frontend/src/App.tsx
  web/frontend/src/components/schedule/SubmitModal.tsx
  web/frontend/src/components/summary/Leaderboard.tsx
  web/frontend/src/index.css
  web/frontend/src/main.tsx
  web/frontend/src/theme.tsx
  web/frontend/src/types/global.ts
  web/frontend/src/views/Layout.tsx
  web/frontend/src/views/Result.tsx
  web/frontend/src/views/Schedule.tsx
  web/frontend/src/views/Summary.tsx
  web/frontend/src/vite-env.d.ts
  web/frontend/tsconfig.json
  web/frontend/tsconfig.node.json
  web/frontend/vite.config.ts
Labels: web

#69 [Infra] Specialise Initialisation functions for team experiments
  pkg/infra/game/stage/initialise/initialise.go
  pkg/infra/game/stages/stages.go
  pkg/infra/main.go
  pkg/infra/teams/team0/init.go
  pkg/infra/teams/team0/team0_agent.go
Labels: infra, agent

#70 [infra] Restructure & initial work on requests
  pkg/infra/game/agent/agent.go
  pkg/infra/game/agent/base_agent.go
  pkg/infra/game/agent/communication.go
  pkg/infra/game/agent/random.go
  pkg/infra/game/example/random.go
  pkg/infra/game/math/math.go
  pkg/infra/game/message/message.go
  pkg/infra/game/stage/fight/fight.go
  pkg/infra/game/stage/initialise/initialise.go
  pkg/infra/main.go
  pkg/infra/teams/team0/init.go
  pkg/infra/teams/team0/weapon_alloc.go
Labels: infra, high priority

#71 simplify maths formula
  pkg/infra/game/math/math.go
Labels: maths

#36 [infra] election
  .env
  pkg/infra/config/types.go
  pkg/infra/game/agent/agent.go
  pkg/infra/game/decision/decision.go
  pkg/infra/game/example/random.go
  pkg/infra/game/stage/confidence/confidence.go
  pkg/infra/game/stage/election/election.go
  pkg/infra/game/stage/election/voting.go
  pkg/infra/game/stage/initialise/initialise.go
  pkg/infra/game/state/state.go
  pkg/infra/main.go
Labels: infra, high priority

#81 [infra] Bugfix on strategy creation
  pkg/infra/game/example/random.go
  pkg/infra/game/stage/initialise/initialise.go
  pkg/infra/game/stages/stages.go
  pkg/infra/main.go
  pkg/infra/teams/team0/init.go
Labels: bug, high priority
