Repository SOMAS2022/SOMAS2022, pull requests merged in 2022-12, with the labels that each got.

#78 [Infra] Add proposals & impositions for fights
  pkg/infra/config/environment_helpers.go
  pkg/infra/game/agent/agent.go
  pkg/infra/game/agent/base_agent.go
  pkg/infra/game/commons/commons.go
  pkg/infra/game/commons/commons_test.go
  pkg/infra/game/decision/decision.go
  pkg/infra/game/decision/fight.go
  pkg/infra/game/example/random.go
  pkg/infra/game/math/math.go
  pkg/infra/game/math/math_test.go
  pkg/infra/game/message/fight.go
  pkg/infra/game/message/message.go
  pkg/infra/game/stage/discussion/resolution.go
  pkg/infra/game/stage/election/election.go
  pkg/infra/game/stage/election/voting.go
  pkg/infra/game/stage/fight/fight.go
  pkg/infra/game/stage/initialise/initialise.go
  pkg/infra/game/stage/loot/loot.go
  pkg/infra/game/stages/stages.go
  pkg/infra/game/state/view.go
  pkg/infra/game/tally/internal/proposal_vote.go
  pkg/infra/game/tally/proposal.go
  pkg/infra/game/tally/tally.go
  pkg/infra/main.go
  pkg/infra/main_helper.go
  pkg/infra/teams/team0/init.go
  pkg/infra/teams/team0/team0_agent.go
  pkg/infra/teams/team0/weapon_alloc.go
Labels: infra

#90 [infra] Fix data race
  pkg/infra/game/agent/agent.go
  pkg/infra/game/example/random.go
  pkg/infra/game/message/message.go
  pkg/infra/game/stage/fight/fight.go
Labels: bug, infra, high priority

#88 [infra] Add inventory
  pkg/infra/game/agent/agent.go
  pkg/infra/game/commons/commons.go
  pkg/infra/game/decision/decision.go
  pkg/infra/game/example/random.go
  pkg/infra/game/stage/fight/fight.go
  pkg/infra/game/stage/initialise/initialise.go
  pkg/infra/game/stage/loot/loot.go
  pkg/infra/game/stages/stages.go
  pkg/infra/game/state/inventory.go
  pkg/infra/game/state/state.go
  pkg/infra/game/state/view.go
  pkg/infra/main.go
  pkg/infra/main_helper.go
  pkg/infra/teams/team0/init.go
  pkg/infra/teams/team0/weapon_alloc.go
Labels: infra, high priority

#96 [infra] Implemented Borda Count for voting
  .env
  pkg/infra/game/decision/decision.go
  pkg/infra/game/example/random.go
  pkg/infra/game/stage/election/election.go
  pkg/infra/game/stage/election/voting.go
  pkg/infra/main_helper.go
Labels: infra, medium priority

#114 [infra] Loot allocation
  pkg/infra/game/agent/agent.go
  pkg/infra/game/agent/base_agent.go
  pkg/infra/game/agent/strategy.go
  pkg/infra/game/commons/immutablelist.go
  pkg/infra/game/decision/decision.go
  pkg/infra/game/decision/loot.go
  pkg/infra/game/example/random.go
  pkg/infra/game/message/message.go
  pkg/infra/game/message/proposal/predicate.go
  pkg/infra/game/stage/discussion/resolution.go
  pkg/infra/game/stage/fight/fight.go
  pkg/infra/game/stage/initialise/initialise.go
  pkg/infra/game/stage/loot/loot.go
  pkg/infra/game/stages/stages.go
  pkg/infra/game/state/inventory.go
  pkg/infra/game/state/pool.go
  pkg/infra/game/state/state.go
  pkg/infra/main.go
  pkg/infra/main_helper.go
  pkg/infra/teams/team0/weapon_alloc.go
Labels: infra, high priority, WIP

#118 [Infra] Add new message format
  pkg/infra/game/message/peer.go
Labels: infra

#129 [infra] fix unlikely bug that leader dies
  pkg/infra/game/agent/strategy.go
  pkg/infra/game/example/random.go
  pkg/infra/game/stage/discussion/resolution.go
  pkg/infra/teams/team1/team1_agent.go
Labels: bug, infra, high priority

#130 [bugfix] - Change HP Pool check to compare against monster health
  pkg/infra/main_helper.go
Labels: bug, infra

#131 [feat] Add recursive grammar for rule conditions
  pkg/infra/game/message/proposal/condition.go
  pkg/infra/game/message/proposal/predicate.go
Labels: enhancement, infra, medium priority

#133 [fix] Add loot proposal method for loot rounds
  pkg/infra/game/agent/base_agent.go
  pkg/infra/game/example/random.go
  pkg/infra/game/message/proposal/predicate.go
Labels: bug, infra, high priority

#135 [feat] Add defection from proposals as optional
  .env
  pkg/infra/config/environment_helpers.go
  pkg/infra/config/types.go
  pkg/infra/game/agent/strategy.go
  pkg/infra/game/commons/commons.go
  pkg/infra/game/commons/commons_test.go
  pkg/infra/game/decision/result.go
  pkg/infra/game/example/random.go
  pkg/infra/game/message/proposal/predicate.go
  pkg/infra/game/stage/discussion/resolution.go
  pkg/infra/game/stage/initialise/initialise.go
  pkg/infra/game/stage/loot/loot.go
  pkg/infra/game/state/state.go
  pkg/infra/game/state/view.go
  pkg/infra/main_helper.go
  pkg/infra/teams/team1/team1_agent.go
Labels: enhancement, infra, medium priority, WIP

#79 Team 1 - linear regression helper
  pkg/infra/go.mod
  pkg/infra/go.sum
  pkg/infra/teams/team1/internal/fit_data.go
  pkg/infra/teams/team1/internal/fit_data_test.go
  pkg/infra/teams/team1/internal/math_helpers.go
  pkg/infra/teams/team1/internal/message_helpers.go
  pkg/infra/teams/team1/internal/q_values.go
  pkg/infra/teams/team1/q_values.go
  pkg/infra/teams/team1/social_capital.go
  pkg/infra/teams/team1/team1_agent.go
Labels: agent

#121 Data analysis on web + Agent Logging
  .gitignore
  Makefile
  pkg/infra/config/environment_helpers.go
  pkg/infra/game/agent/agent.go
  pkg/infra/game/agent/strategy.go
  pkg/infra/game/example/random.go
  pkg/infra/game/stage/update/update.go
  pkg/infra/game/stages/stages.go
  pkg/infra/logging/file.go
  pkg/infra/logging/logging.go
  pkg/infra/main.go
  pkg/infra/main_helper.go
  pkg/infra/teams/team1/team1_agent.go
  web/backend/src/app.ts
  web/backend/src/common/utils.ts
  web/backend/src/db/schema/Run.ts
  web/backend/src/db/schema/SimResult.ts
  web/backend/src/types/global.ts
  web/common/types.ts
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/App.tsx
  web/frontend/src/components/game/AgentDeathGraph.tsx
  web/frontend/src/components/game/AgentDeathRoundGraph.tsx
  web/frontend/src/components/game/AgentPropertyGraph.tsx
  web/frontend/src/components/game/AverageAgentStats.tsx
  web/frontend/src/components/game/FightRoundGraph.tsx
  web/frontend/src/components/game/HPPoolGraph.tsx
  web/frontend/src/components/game/HistogramGraph.tsx
  web/frontend/src/components/game/VONCGraph.tsx
  web/frontend/src/main.tsx
  web/frontend/src/types/global.ts
  web/frontend/src/views/Layout.tsx
  web/frontend/src/views/Result.tsx
  web/frontend/src/views/Schedule.tsx
  web/frontend/src/views/Summary.tsx
  web/frontend/src/views/results/Agents.tsx
  web/frontend/src/views/results/Game.tsx
  web/frontend/src/views/results/Overview.tsx
Labels: infra, high priority, web

#171 fix AgentState.BonusDefense
  pkg/infra/game/state/state.go
Labels: bug

#163 added all math equations for loot variables /drop
  pkg/infra/game/math/math.go
  pkg/infra/main.go
  pkg/infra/main_helper.go
Labels: infra, maths

#175 [BugFix] Subtract Total Attack/Defense from Stamina
  pkg/infra/game/stage/fight/fight.go
Labels: bug, infra

#211 fix NewTradeOffer when idx == inventory size
  pkg/infra/game/message/trade.go
Labels: bug, high priority

#213 [perf] Forgot to check profiler for copies
  pkg/infra/game/message/proposal/predicate.go
  pkg/infra/game/stage/discussion/resolution.go
  pkg/infra/teams/team1/team1_agent.go
Labels: infra, high priority
